
.nav{
    /* background-color: #0D0D0D; */
    height: 125px;
    /* width: 80vw; */
    display: flex;
    /* justify-self: flex-start; */
    align-items: center;
    justify-content: flex-start;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 24px 24px 0px 0px;
    text-decoration-style: none;
    box-sizing: border-box;
    background: rgba(13, 13, 13, 0.6);
    border: 1px solid #8B949E;
    backdrop-filter: blur(24px);
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
    position: absolute;
    z-index: 100;
}

.navMenus {
    font-family: 'JetBrainsMono';
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    font-style: normal;
    text-transform: uppercase;
    height: 100%;
}


.navbarItem {
    padding: 0.5em;
    margin: 0.5em;
}

.navbar-links {
    height: 100%;
    /* margin-bottom: 24px; */
    /* margin-top: 44px;; */
    /* margin-right: 24px; */
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.navbar-links li button {
    display: block;
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
}
.btnContainer{
    margin-top: 0;
    margin-bottom: 15px;
    height: 50px;

}
.Button1{
    margin-bottom: 20px;
}

.logoLink {
    width: 20%;
}

.ts-logo{
    /* font-size: 0.2rem; */
    width:100%;
}

.nav a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 .8rem;
}


.navbar-links li:hover {
    background-color: #555;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display:none;
    flex-direction: column;
   /* justify-content: space-between;*/
    width: 15px;
    height: 21px;
    margin-top: 10px;
}

.toggle-button .bar {
    height: 3px;
    width: 15px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 10px;
    display: none;
}

.Buttonclose{
    display: none;
}

@media (max-width:900px) {
    .logoLink {
        width: 200%;
    }
    
    .toggle-button {
        display: flex;
        align-items: center;
        margin-top: 4%;
    }

    .toggle-button .bar {
        height: 3px;
        width: 15px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 10px;
        display: inline;
    }
    .navbar-links {
        visibility: hidden;
        /* display: none; */
        width: 100%;
        margin-top: 38%;     
    }

    .navMenus {
        background-color: #555;
        opacity: 80%;
        height: 650px;
    }

    .Buttonclose{
        text-align: center;
        display: table-column;
        font-size:25px;
        margin-bottom: 20px;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .btnContainer{
        display: none;
        width: 150px;
        margin-left: 15%;
    }
    .navbar-links ul li {
        text-align: center;
        height: 10%;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .Button1{
        margin-right: 20%;
        margin-bottom: 20%;
    }
    .ts-logo {
        width: max-content;
        height: 80%;
    }

    .nav {
        height: 75px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
