@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face{
  font-family:"segoe ui";
  font-style:normal;
  font-weight:400;
  src: url('https://fonts.cdnfonts.com/s/15051/Segoe UI.woff') format('woff2');
}
@font-face{
  font-family:"segoe ui";
  font-style:italic;
  font-weight:400;
  src: url('https://fonts.cdnfonts.com/s/15051/Segoe UI Italic.woff') format('woff2');
}
@font-face{
  font-family:"segoe ui";
  font-style:normal;
  font-weight:700;
  src: url('https://fonts.cdnfonts.com/s/15051/Segoe UI Bold.woff') format('woff2');
}
@font-face{
  font-family:"segoe ui";
  font-style:italic;
  font-weight:700;
  src: url('https://fonts.cdnfonts.com/s/15051/Segoe UI Bold Italic.woff') format('woff2');
} */

@font-face {
  font-family: "segoeui";
  src: url('/assets/fonts/Segoe/SegoeUI.ttf');
}

@font-face {
  font-family: "backto1982";
  src: url('/assets/fonts/Back-To-1982/BACKTO1982.TTF');
}

@font-face {
  font-family: "sportsball";
  src: url('/assets/fonts/sportsball/Sportsball.ttf');
}

@font-face{
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
}
